@{
    Layout = null;
}
    <!DOCTYPE html>
<html>
<head>
    <title>Key</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container" style="margin-top:15px;background:white;border-radius: 15px;padding-left:7%;">
        <div class="page-header">
            <h1>Steps to get your Secret Key from DOL Page</h1>
        </div>
        <div class="row" style="width:85%;">
            <div class="col-md-12">
                <p class="text-left"><strong>1.	Click “My Account” in the drop down after you click your username</strong></p>
                <p class="text-center"><img width=624 height=220 src="~/Content/Images/SecretKey_files/image001.jpg"></p>
            </div>
        </div>
        <hr style="border-width: 1px;display: block;margin-top: 0.5em;margin-bottom: 20px;margin-left: auto;margin-right: auto;" />
        <div class="row" style="width:85%;">
            <div class="col-md-12">
                <p class="text-left"><strong>2.	Click "Manage login.gov credentials"</strong></p>
                <p class="text-center"><img width=624 height=221 src="~/Content/Images/SecretKey_files/image002.jpg"></p>
            </div>
        </div>
        <hr style="border-width: 1px;display: block;margin-top: 0.5em;margin-bottom: 20px;margin-left: auto;margin-right: auto;" />
        <div class="row" style="width:85%;">
            <div class="col-md-12">
                <p class="text-left"><strong>3.	If you are redirected to the following page, click on 'Sign in with login.gov' button </strong></p>
                <p class="text-center"><img width=623 height=287 src="~/Content/Images/SecretKey_files/image003new.jpg"></p>
            </div>
        </div>
        <hr style="border-width: 1px;display: block;margin-top: 0.5em;margin-bottom: 20px;margin-left: auto;margin-right: auto;" />
        <div class="row" style="width:85%;">
            <div class="col-md-12">
                <p class="text-left"><strong>4.	Under TWO-FACTOR AUTHENTICATION section, click "+Add" button next to "Authentication app"</strong></p>
                <p class="text-center"><img width=624 height=394 src="~/Content/Images/SecretKey_files/image004.jpg"></p>
            </div>
        </div>
        <hr style="border-width: 1px;display: block;margin-top: 0.5em;margin-bottom: 20px;margin-left: auto;margin-right: auto;" />
        <div class="row" style="width:85%;">
            <div class="col-md-12">
                <p class="text-left"><strong>5.	You will see the secret key in the third step.  <span class="errorMessage"> Copy and paste this secret key and save it somewhere you can retrieve it later.  It will be needed for the bot to draft your 9035.</span> </strong></p>
                <p class="text-center"><img width=342 height=464 src="~/Content/Images/SecretKey_files/image005.jpg"></p>
            </div>
        </div>
        <hr style="border-width: 1px;display: block;margin-top: 0.5em;margin-bottom: 20px;margin-left: auto;margin-right: auto;" />
        <div class="row" style="width:85%;">
            <div class="col-md-12">
                <p class="text-left"><strong>6.	Open the Authenticator in Chrome: </strong></p>
                <p class="text-center"><img width=342 height=364 src="~/Content/Images/SecretKey_files/image006.jpg"></p>
                <p class="text-left"><strong> <span class="errorMessage">Note:</span> if you do not have the Authenticator app installed, copy and paste the following link into your Chrome browser: <a target="_blank" href="https://chrome.google.com/webstore/detail/authenticator/bhghoamapcdpbohphigoooaddinpkbai"> https://chrome.google.com/webstore/detail/authenticator/bhghoamapcdpbohphigoooaddinpkbai </a></strong></p>
            </div>
        </div>
        <hr style="border-width: 1px;display: block;margin-top: 0.5em;margin-bottom: 20px;margin-left: auto;margin-right: auto;" />
       
        <div class="row" style="width:85%;">
            <div class="col-md-12">
                <p class="text-left"><strong>7.	Click on pencil icon: </strong></p>
                <p class="text-center"><img width=342 height=200 src="~/Content/Images/SecretKey_files/image007.jpg"></p>
            </div>
        </div>
        <hr style="border-width: 1px;display: block;margin-top: 0.5em;margin-bottom: 20px;margin-left: auto;margin-right: auto;" />
        <div class="row" style="width:85%;">
            <div class="col-md-12">
                <p class="text-left"><strong>8.	Click on + button </strong></p>
                <p class="text-center"><img width=342 height=200 src="~/Content/Images/SecretKey_files/image008.jpg"></p>
            </div>
        </div>
        <hr style="border-width: 1px;display: block;margin-top: 0.5em;margin-bottom: 20px;margin-left: auto;margin-right: auto;" />
        <div class="row" style="width:85%;">
            <div class="col-md-12">
                <p class="text-left"><strong>9.	Click on Manual Entry </strong></p>
                <p class="text-center"><img width=342 height=250 src="~/Content/Images/SecretKey_files/image009.jpg"></p>
            </div>
        </div>
        <hr style="border-width: 1px;display: block;margin-top: 0.5em;margin-bottom: 20px;margin-left: auto;margin-right: auto;" />
        <div class="row" style="width:85%;">
            <div class="col-md-12">
                <p class="text-left"><strong>10. Enter "FLAG" into Issuer field and copied secret key into Secret field and click on OK: </strong></p>
                <p class="text-center"><img width=342 height=250 src="~/Content/Images/SecretKey_files/image0010.jpg"></p>
            </div>
        </div>
        <hr style="border-width: 1px;display: block;margin-top: 0.5em;margin-bottom: 20px;margin-left: auto;margin-right: auto;" />
        <div class="row" style="width:85%;">
            <div class="col-md-12">
                <p class="text-left"><strong>11. You will see your new application with a code in it.  Click on the code to copy it. </strong></p>
                <p class="text-center"><img width=342 height=150 src="~/Content/Images/SecretKey_files/image0011.jpg"></p>
            </div>
        </div>
        <hr style="border-width: 1px;display: block;margin-top: 0.5em;margin-bottom: 20px;margin-left: auto;margin-right: auto;" />
        <div class="row" style="width:85%;">
            <div class="col-md-12">
                <p class="text-left"><strong>12. Paste this code into FLAG in 'Enter the temporary code from your app' and click Submit button. </strong></p>
                <p class="text-center"><img width=342 height=250 src="~/Content/Images/SecretKey_files/image0012.jpg"></p>
            </div>
        </div>
        <hr style="border-width: 1px;display: block;margin-top: 0.5em;margin-bottom: 20px;margin-left: auto;margin-right: auto;" />
        <div class="row" style="width:85%;">
            <div class="col-md-12">
                <p class="text-left errorMessage"><strong>Note: If you share this account with anyone else on your team, you should share the secret key with them so they can follow the same steps to set up Authenticator.</strong></p>
                <button type="button" id="btn-submit" value="Close" class="btn btn-primary right" onclick="window.close();">Close</button>
            </div>
        </div>
        <div class="row" style="width:85%;">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>

   